body {
  background-color: rgb(236, 219, 219);
}

.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /*position: relative;*/
}
.card {
  width: 60vw;
  height: 60vh;
  background-color: white;
  border: 4px solid rgb(39, 16, 241);
  /*position: absolute;
    left: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    */
}

img {
  height: 60vh;
  width: 30vw;
}

.content {
  height: 60vh;
  width: 30vw;
  background-color: rgb(248, 248, 248);
  float: right;
}

input[type="text"],
input[type="password"] {
  width: 25vw;
  height: 5vh;
  padding: 1vw;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: rgb(212, 201, 201);
}
input[type="password"] {
  margin-top: 1vh;
}
input[type="text"] {
  margin-top: 5vh;
}
input[type="submit"] {
  margin-top: 2vh;
  width: 25vw;
  padding: 1vw;
  padding-left: 1vw;
  background-color: rgb(24, 255, 24);
  border: none;
}
input[type="checkbox"] {
  margin-top: 2%;
}

.container {
  height: 10vh;
  width: 30vw;
  margin: 2.5vw;
}

.container img {
  border-radius: 50%;
  margin-left: 20%;
}

.button {
  display: inline-block;
  background-color: rgb(17, 60, 251);
  color: white;
  font-size: small;
  width: 25vw;
  height: 5vh;
  margin-top: 1vh;
}
.button a {
  color: white;
}
.signup {
  margin-top: 1vh;
}

@media only screen and (max-width: 800px) {
  .button {
    font-size: xx-small;
  }
  .checkbox {
    font-size: x-small;
    margin: none;
    padding: none;
  }
}
@media only screen and (min-width: 250px) {
  .checkbox {
    font-size: xx-small;
  }
}
